<!-- 左侧导航 开始 -->
<div class="main-sidebar" fixed-box="true">
    <% if(user) { %>
    <div class="msb-nav">
        <h3 class="msb-level"><a href="javacript:void(0);">
        <span>首页</span>
        <i class="has-new"></i>
    </a></h3>
    </div>
    <div class="msb-nav">
        <h3 class="msb-level"><a href="javacript:void(0);">
        <span>我的收藏</span>
    </a></h3>
    </div>
    <div class="msb-nav">
        <h3 class="msb-level"><a href="javacript:void(0);">
        <span>我的赞</span>
    </a></h3>
    </div>
    <div class="msb-nav-line1"></div>
    <div class="msb-nav">
        <div class="msb-level">
            <a href="javascript:void(0);">
                <span class="msb-lev-ico">i</span>
                <span>热门微博</span>
                <i class="has-new"></i>
            </a>
        </div>
    </div>
    <div class="msb-nav-line2">
        <i>SET</i>
        </a>
        </h3>
    </div>
    <!-- 分组区域 开始 -->
    <div class="msb-group">
        <div class="msb-nav">
            <div class="msb-level">
                <a href="javascript:void(0);">
                    <span class="msb-lev-ico">i</span>
                    <span>好友圈</span>
                    <!-- <i class="has-new"></i> -->
                </a>
            </div>
        </div>
        <div class="msb-nav">
            <div class="msb-level">
                <a href="javascript:void(0);">
                    <span class="msb-lev-ico">i</span>
                    <span>群微博</span>
                    <!-- <i class="has-new"></i> -->
                </a>
            </div>
        </div>
        <div class="msb-nav">
            <div class="msb-level">
                <a href="javascript:void(0);">
                    <span class="msb-lev-ico">i</span>
                    <span>特别关注</span>
                    <!-- <i class="has-new"></i> -->
                </a>
            </div>
        </div>
        <div class="msb-group-show">
            <div class="msb-nav">
                <div class="msb-level">
                    <a href="javascript:void(0);">
                        <span class="msb-lev-ico">i</span>
                        <span>朋友</span>
                        <i class="has-new-num">1</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="msb-group-more">
            <div class="msb-nav">
                <div class="msb-level">
                    <a href="javascript:void(0);">
                        <span class="msb-lev-ico">i</span>
                        <span>朋友</span>
                        <i class="has-new-num">1</i>
                    </a>
                </div>
            </div>
        </div>
        <div class="msb-show-btn">
            <a href="javascript:void(0);">展开</a>
        </div>
    </div>
    <!-- 分组区域 结束 -->
    <% } else { %>
        <!-- 首页侧边栏数据 -->
        <% for (var i = 0;i < sidebar.length; ++i) { %>
            <div class="msb-nav">
                <h3 class="msb-level text-center"><a href="javacript:void(0);">
                <span><%= sidebar[i] %></span>
            </a></h3>
            </div>
        <% } %>
    <% } %>
</div>
<!-- 左侧导航 结束 -->
