<!-- media组件 开始 -->
<div id="send-media-box" class="model-box mb-pic" style="display: none;">
    <div class="mb-content">
        <div id="send-media-arrow" class="layer-arrow-t">
            <i></i>
            <em></em>
        </div>
        <div class="mb-close">
            <a href="javascript:void(0)">×</a>
        </div>
        <div class="mb-media">
            <ul class="clearfix">
                <li>
                    <a href="javascript:void(0);">
                        <em>I</em>
                        <span>单图/多图</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <em>I</em>
                        <span>拼图</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <em>I</em>
                        <span>截屏</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <em>I</em>
                        <span>传至相册</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- media组件 结束 -->
<!-- 话题 开始 -->
<div id="send-topic-box" class="model-box mb-topic" style="display: none;">
    <div class="mb-content">
        <div id="send-topic-arrow" class="layer-arrow-t">
            <i></i>
            <em></em>
        </div>
        <div class="mb-close">
            <a href="javascript:void(0)">×</a>
        </div>
        <div class="mb-topics">
            <div class="mb-topics-add">
                <a href="javascript:void(0);">
                    <em>#</em> 插入话题
                </a>
            </div>
            <div class="mb-topics-box">
                <h3></h3>
            </div>
        </div>
    </div>
</div>
<!-- 话题 结束 -->
